{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <ul style="list-style-type:none">
                    <li><small class="text-muted">Published: {{ post.published_date|date:"F d, Y" }}</small></li>
                    <li><small class="text-muted">Modified: {{ post.modified_date|date:"F d, Y" }}</small></li>
                    <li><small class="text-muted">Created: {{ post.created_date|date:"F d, Y" }}</small></li>
                </ul>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.pk %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.pk %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-body">{{ post.text }}</p>
            <ul class="categories">
                {% for category in category_list %}
                    <small>
                        <li>{{ category }}</li>
                    </small>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}